@import url('../constants/colors.css');

.header-wrapper {
    background: var(--white);
    height: 150px !important;
}

.header-wrapper .link-wrapper {
    justify-content: space-between;
}

.header-wrapper .link-wrapper .link{
    color: var(--dark-blue);
    margin-left: 40%;
}

.header-wrapper .btn {
    background-color: var(--light-blue);
}

@media screen and (max-width: 997px) {
    .header-wrapper .link-wrapper .link {
        margin-left: 0;
    }
}

